        .selectt { 
            color: black; 
            padding: 30px; 
            display: none; 
            margin-top: 30px; 
            width: 60%; 
            background: lightgrey 
        } 
          
        label { 
            margin-right: 20px; 
        } 

        .jumbotron {
            text-align: center;
            margin-bottom: 0;
            
            ;
        }

        .jumbotron-fluid {
            margin-bottom: 0;
        }

        h1 {
            color: black;
            
        }
        .lead {
            color: black;
            
        }

        .input-group-prepend {
            margin: 20px 0 20px 0;
        }

        .form-control {
            margin: 20px 0 20px 0;
            text-align: center;
        }



        .btn {
            margin: 30px;
        }

        html {
            background: #a3c2c2;
        }

        center {
            background:#a3c2c2;
        }

        .body {
            background: #a3c2c2;
        }
    
        @media print {
            .noPrint {
                display: none;               
            }
            .button {
                display: none;
            }
            .jumbotron-fluid {
                padding-bottom: 0;
                margin-bottom: 0;
            }
               
        }